body{

    background-color: #87bc9b;
}

.btn-group-toggle {
    margin: 0 auto;
}

.centering {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.questions {
	margin-top: 20px;
    text-align: center;
}

.buttons {
	padding-left: 20px;
	padding-right: 20px;
}

#scoreDisplay{

    margin: 20px 0;
    text-align: center;
}

#viewProgress{

    background-color: #3f965f;
    border-color: #3f965f;
}
.reveal{

    background-color: blue;
    width: 80px;
    height: 40px;
}