
body #LoginForm { 
  width: 100wh; 
  height: 100vh; 
	padding:10px;
	background: linear-gradient(-45deg, #FF0000, #EDD400, #00FF00, #0000FF);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;

}

.container {
	background-image: url(./bkg.png); 
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.form-heading { 
	color:#fff; 
	font-size:23px;
}

.panel h2{ 
	color:#444444; 
	font-size:18px; 
	margin:0 0 8px 0;
}

.panel p { 
	color:#777777; 
	font-size:14px; 
	margin-bottom:30px; 
	line-height:24px;
}

.form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.main-div {
  background: rgba(255,255,255,0.9) repeat scroll 0 0;
  border-radius: 2px;
  border-style: dashed;
  margin: 10px auto 30px;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}

.login-form { 
	text-align:center;
}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.forgot {
  text-align: left; 
  margin-bottom:30px;
}

.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}

.back { 
	text-align: left; 
	margin-top:10px;
}

.back a {
	color: #444444; 
	font-size: 13px;
	text-decoration: none;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
